<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <div class="container">
        <!-- <img src="../static/logo.png" alt="ScrapeShop" class="logo" /> -->
        <h1>Thank You!</h1>
        {% if message %}
        <p class="message">{{ message | safe }}</p>
        <br>
        <p class="email"><b>Your Mail:</b> {{email}}</p>
        <p class="product_title"><b>Your Product:</b> {{product_name}}</p>
        <p class="product_price"><b>Current price:</b> {{current_price}}</p>
        <p class="Expected_price"><b>Price You want:</b> {{expected_price}}</p>
        {% endif %}
</body>
</html>